html, body, section{
    overflow: hidden !important;
}

.a-body {
    font-family: 'Noto Sans KR', 'Red Hat display', san-serif;
    @apply  h-screen overflow-hidden ;
}
.b-header {
    @apply absolute w-screen h-[94px] z-[99999];
    .logo-wrap{
        @apply block w-[120px] h-[52px] bg-contain bg-center bg-no-repeat absolute
        bg-[url(../img/draft/sk_pucore_logo_color.svg)] left-10 top-[16px];
    }
    .b-header-right {
        @apply absolute w-[711px] right-10 top-[24px];
    }
}
.hero-outer {
    @apply relative w-screen ;
}
.b-hero-wrap {
    @apply relative top-[90px] w-[calc(100vw-74px)] h-[calc(100vh-130px)] mx-auto rounded-[40px] ; 
    .b-canvas {
        @apply absolute w-full h-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
        background: linear-gradient(135deg, #1e5799 20%,#000000 70%);
    }
    .hero-overlay {
        @apply absolute block w-screen h-screen bg-[#030c1a] opacity-40; 
    }
    .hero-title-wrap{
        @apply absolute w-full h-full flex flex-col items-center justify-center;
        h1{
            @apply relative text-white text-[8vw] font-bold w-screen text-center leading-em10 tracking-tight; font-family:"poppins";
        }
        
    }
    .copy-wrap{ @apply absolute w-[80vmin] m-auto left-[13vmin] top-[20vmin]; }
    .copy-wrap2 {
        @apply absolute w-[40vmin] left-[95vmin]  top-[40vmin];
    }
    
}

.b-row {
    @apply absolute top-0 flex;
    .pin-wrap { @apply relative flex; }
    .animation-wrap { @apply relative flex; }
    .big-cut-wrap {
        @apply relative w-[1500px] h-screen flex items-center shrink-0;
    }
}
.b-con-group {
    @apply absolute top-[3000px] w-full;
    .con-img {
        @apply relative m-auto w-[1502px] mt-24;
    }
    .con-img2 {
        @apply relative m-auto w-[1552px] mt-24;
    }
    .footer {
        @apply relative m-auto w-[1502px] mt-24;
    }
}