


.btn-top { 
  position: fixed; width: 42px; height: 42px; border-radius: 50%; background-size: contain;
  background-image: url(../img/type_2/btn_top.png); background-repeat: no-repeat;
  right: 32px; bottom: 60px; z-index: 200; opacity: 0; cursor: pointer; 
}
//------------------------------


.scroll-indicator {
  position: absolute; display: block; width: 2px; height: 140px;
  background-color: rgba(255,255,255,0.4); 
  bottom:0; left: calc(50% - 690px); z-index: 10;
  &.center { left: 50%; }
  .inner-line {
    position: absolute; display: block; width: 2px; height: 60px;
    background-color: #ffffff; top:0;
    animation-name: scrollLine; animation-duration: 1.3s; animation-iteration-count: infinite;
  }
}
@keyframes scrollLine {
  0%{ top:0;}
  100%{ top:110px;}
}

//--------------------------------
.section{
    @apply relative h-screen;
    &.section-hero{
      @apply w-full h-screen top-0 ;
        .vid-wrap{
          @apply absolute w-full h-full overflow-hidden bg-slate-400 ;
          .overlay-screen{ 
              @apply block absolute w-full h-full top-0 left-0 bg-black opacity-70 z-10;
          }
          video {
              @apply absolute w-full h-full left-1/2 top-1/2 object-cover -translate-x-1/2 -translate-y-1/2;
          }
      }
      .hero-copy { @apply absolute w-[762px] top-[200px] left-[calc(50%-760px)] z-40; }
    }
    &.section-product{
        @apply w-full bg-white flex items-center justify-center;
        .img { @apply w-[1360px] ;}
    }
    &.section-links{
        @apply flex items-center justify-center;
        //background: linear-gradient(to right, rgba(10,52,107,1) 0%,rgba(23,137,128,1) 100%);
        .img { @apply z-10 w-[1502px] ; }
    }
    &.section-news{
        @apply flex items-center justify-center;
        .img { @apply w-[1118px] ; }
    }
    .footer {
        @apply absolute w-full h-[122px] bottom-0 border-t border-[rgba(255,255,255,0.3)] ;
        .img { @apply w-[1500px] relative mx-auto;}
    }
    
}
.canvas-wrap{
    @apply fixed w-full h-screen top-0 left-0 -z-10;
    background: linear-gradient(to right, rgba(10,52,107,1) 0%,rgba(23,137,128,1) 100%);
}
#d-canvas{ @apply absolute w-full h-screen top-0 left-0 ; }