@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

body { 
  overflow-x: hidden;
  font-family: 'Noto Sans KR', 'Malgun Gothic', 'dotum', sans-serif !important;
}
.side-header {
  width:240px; overflow-x: hidden; overflow-y: auto;
  font-size: 14px;
  ul{
    li{
      @apply p-2
    }
  }
}

.iframe-main {
  width: calc(100% - 240px); margin-left: 240px; min-height: 100vh;
  position: relative;
}
iframe {
  position: absolute; width:100%; height:100%; min-height: 100vh;
}
.side-header {
  width:240px; overflow-x: hidden; overflow-y: auto;
  font-size: 14px;
}
.iframe-main {
width: calc(100% - 240px); margin-left: 240px;
}

/* home */

.draft-home{
  width: 100%; min-height: 100vh; display: flex; flex-direction: column; 
  background-color: #dfe4e8; align-items: center;
    h1 {
      font-size: 40px; width:80%; text-align: center; font-weight: 700; letter-spacing: -0.04em;
      line-height: 1.3em; margin: 5rem auto 2rem auto;
    }
    .draft-wrap {
      width: 100%; max-width: 940px; padding: 0 3rem; margin-top: 1rem; display: flex;
      flex-wrap: wrap; justify-content: space-between; margin-bottom: 8rem;
        a{
          display: block; width: 48%; min-height: 300px; background-color: #f2f5f9; margin-top: 2rem;
          display: flex; flex-direction: column; justify-content: center; align-items: center;
          img { width:84%; }
          h4 { 
              width: 100%; text-align: center; padding: 0 2rem 2rem 2rem;
              font-weight: bold; font-size: 18px;
          }
        }
    }
    .page-link-wrap{
      @apply relative w-[80%] max-w-[1200px] mx-auto mt-20 ;
    }
    .page-link{
      @apply flex w-full h-[64px] text-xl font-medium border border-slate-400 my-4
      items-center p-4 pl-8 bg-white ;
    }
}
.concept-home {
  width: 100%; min-height: 100vh; display: flex; flex-direction: column; 
  background-color: #dfe4e8; align-items: center;
  img { 
      width:100%; max-width: 1280px; margin: 1rem 0; padding: 0 2rem;
      & :first-child{ margin-top:2rem; }
      & :last-child{ margin-bottom:2rem; }
  }
}

/* Accordian Menu */
/* Scrollbar-effect------- */
#accordian::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
#accordian::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}
#accordian::-webkit-scrollbar-thumb {
  background: #0089ff;
  border-radius: 10px;
  transition: 0.5s;
}
#accordian::-webkit-scrollbar-thumb:hover {
  background: #d5b14c;
  transition: 0.5s;
}

#accordian li {
	list-style-type: none;
}
#accordian ul li a{
	color: #111111; text-decoration: none;
	font-size: 14px; display: block;
	padding: 8px 4px 8px 16px; transition: all 0.15s;
	position: relative; border-radius: 3px;
}

#accordian>ul.show-dropdown>li.active>a{
	background-color: #E2E8F0;
    color: #000;
    box-shadow: 0px 1px 2px rgba(0, 137, 255, 0.2);
}
#accordian>ul>li>ul,
#accordian>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul>li>ul {
	display: none;
}


#accordian>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li>ul>li.active>ul.show-dropdown {
	display: block;
}
#accordian>ul>li>ul>li>a{
  font-size:13px; padding: 2px 4px 2px 16px;
}
#accordian>ul>li>ul>li.active>a{
  color: #007D76; font-weight: bold;
}
#accordian a:not(:only-child):after {
	content: "\f105";
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
		transform: rotate(90deg);
}
#accordian .disable{
  user-select:none; color:#ddd;
}