@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'core_typography.css';
@import 'animation.css';

:root {

}

body { @apply text-slate-900 h-[100vh] overflow-hidden ; font-family: 'Noto Sans KR', 'Poppins', san-serif ; }
html, body{ overflow: hidden !important; }
*,*::after,*::before{ box-sizing: border-box; }

.page-wrap{
    @apply relative w-full min-h-screen h-full break-all;
    .container {
        @apply relative mx-auto ;
    }
    .full-wrap{ @apply w-full ; }
}

//-----------------------------------
// Header 
.header {
    @apply absolute w-full h-[60px] lg:h-[100px] z-[1000] transition-all duration-200 ;
    animation: headReveal 0.75s;
    &::before {
        @apply block content-[''] absolute w-full h-[0px] top-0 left-0 bg-[rgba(0,0,0,0.5)] backdrop-blur-lg ;
        transition: all 0.25s;
    }
    &::after {
        @apply block content-[''] absolute w-full h-[1px] top-[100px] left-0 bg-[rgba(255,255,255,0.2)];
    }
    .header-inner { 
        @apply absolute w-full h-full top-0 overflow-hidden ;
        &.open { @apply lg:h-[380px] ; }
    }
    .logo {
        @apply absolute block w-[80px] h-[38px] lg:w-[130px] lg:h-[62px] ml-4 lg:ml-10 top-[10px] lg:top-4
        z-[1200] bg-contain bg-no-repeat bg-center bg-[url(../img/sk_pucore_logo_color.svg)];
        &.dark {
            @apply bg-[url(../img/sk_pucore_logo_white.svg)] ;
        }
    }
    .gnb-menu {
        @apply absolute top-0 h-[70px] lg:h-[380px] left-[calc(50%-460px)] hidden lg:block ;
        .depth-1 {
            @apply flex ;
            .depth-1-menu {
                @apply relative h-[100px] flex items-center justify-center 
                mx-1 w-[180px] text-[20px] font-semibold tracking-tight text-center ;
                &:hover { @apply text-[#FFE24B]; }
                &::after {
                    @apply block absolute content-[''] w-[90px] h-[3px] bottom-5 mx-auto left-0 right-0 ;
                }
                &.active {
                    @apply text-red-700 ;
                    &::after {
                        @apply bg-red-700
                    }
                }
            }
        }
        .depth-2{
            @apply h-0 border-l border-[rgba(255,255,255,0.2)] text-white pt-6 block ;
            a{
                @apply block text-base leading-10 text-left pl-10 font-normal;
                &:hover { @apply text-[#FFE24B]; }    
            }
        }
    }
    .header-right-wrap{ @apply absolute w-[200px] h-[40px] right-0 top-2 lg:top-7 z-[2000]; }
    .btn-contact {
        @apply absolute right-[120px] w-[120px] h-[40px] rounded-[40px] border border-slate-600 
        bg-white text-center leading-[36px] tracking-tight font-semibold overflow-hidden hidden lg:block ;
        transition: background 0.3s;
        &:hover {
            @apply border-transparent bg-red-700 text-white ;
        }
    }
    .btn-burger {
        @apply absolute w-[40px] h-[40px] lg:hidden right-4 top-0;
        .line{
            @apply block absolute w-[22px] h-[2px] bg-slate-900 transition-all 
            top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] ;
            &::before{ 
                @apply block absolute content-[''] w-full h-[2px] bg-slate-900 top-[-8px] ;

            }
            &::after{ 
                @apply block absolute content-[''] w-full h-[2px] bg-slate-900 top-[8px];
            }
        }
        &.open {
            .line{
                @apply bg-transparent ;
                &::before{ top:-0px; transform: rotate(45deg); background-color:white; }
                &::after{ top:-0px; transform: rotate(-45deg); background-color:white; }
            }
        }
        &.dark{
            .line{
                @apply  bg-white ;
                &::before{ @apply bg-white ; }
                &::after{ @apply bg-white ; }
            }
        }
    }
    .btn-lang-wrap{ 
        @apply absolute w-[60px] h-[40px] right-[60px] lg:right-8 ;
    }
    .btn-lang{
        @apply absolute w-[60px] h-[40px] text-sm text-slate-900 
        font-['Poppins'] font-semibold pt-2;
        &::before {
            @apply block content-[''] absolute w-[8px] h-1 right-3 top-[17px] border-[4px] 
            border-b-transparent border-r-transparent border-l-transparent border-slate-600 ;
        }
        &::after {
            @apply block content-[''] absolute w-[50px] h-[1px] bg-slate-600 left-0 bottom-1 ;
        }
        &.dark {
            @apply text-white;
            &::before { @apply border-b-transparent border-r-transparent border-l-transparent border-white ; }
            &::after { @apply bg-white ; }
        }
    }   
    .dropdown-menu {
        @apply text-sm absolute z-50 w-[70px] top-[35px] right-0 hidden ;
        &.open { @apply block ;}
        a{
            @apply block text-slate-600 w-full h-[40px] text-center font-['Poppins'] leading-[40px] 
            text-sm border-b border-slate-200 bg-gray-100 ;
            &:hover { @apply text-slate-900 bg-gray-200 ; }
        }
        &.dark {
            a{
                @apply text-white bg-slate-600 border-[rgba(255,255,255,0.2)];
                &:hover { @apply text-white bg-slate-800 ;}
            }
        }
    }
    
    &.gnb-open{
        @apply text-white lg:h-[380px] ;
        &::before { @apply h-[380px] ; }
        .header-inner { @apply h-[70px] lg:h-[380px] ;}
        .logo { @apply bg-[url(../img/sk_pucore_logo_white.svg)]; }
        .gnb-menu{
            .depth-1 { 
                @apply h-full ;
                .depth-1-menu{
                    &.active {
                        @apply text-yellow-300 ;
                        &::after {
                            @apply bg-yellow-300 ;
                        }
                    }
                } 
            }
            .depth-2{ @apply h-full ; }
        }
        .btn-lang{
            @apply text-white;
            &::before { @apply border-b-transparent border-r-transparent border-l-transparent border-white ; }
            &::after { @apply bg-white ; }
        }
        .btn-contact { @apply border-white bg-transparent ; }
        .dropdown-menu {
            a{
                @apply text-white bg-slate-600 border-[rgba(255,255,255,0.2)];
                &:hover { @apply text-white bg-slate-800 ;}
            }
        }    
    }

    &.scrollup {       
        &::before {  @apply top-0 h-[60px] lg:h-[100px];}
        &::after { @apply top-[60px] lg:top-[100px] ; }
        .logo {
            @apply bg-[url(../img/sk_pucore_logo_white.svg)] ;
        }
        .gnb-menu {
            a { @apply text-white ;}
            .depth-1-menu{
                &.active {
                    @apply text-yellow-300 ;
                    &::after {
                        @apply bg-yellow-300 ;
                    }
                }
            }
        }
        .btn-lang{
            @apply text-white;
            &::before { @apply border-b-transparent border-r-transparent border-l-transparent border-white ; }
            &::after { @apply bg-white ; }
        }
        
        .btn-contact { 
            @apply border-white bg-transparent text-white;
            &:hover {
                @apply border-transparent bg-red-700 text-white ;
            } 
        }
        .dropdown-menu {    
                a{
                    @apply text-white bg-slate-600 border-[rgba(255,255,255,0.2)];
                    &:hover { @apply text-white bg-slate-800 ;}
                }    
        }
        .btn-burger {    
            .line{
                @apply  bg-white ;
                &::before{ @apply bg-white; }
                &::after{ @apply bg-white; }
            }
        }     
        &.gnb-open {
            @apply h-[380px] ;
            &::before { @apply h-[380px] ; }
            .gnb-menu{
                .depth-1 { @apply h-full ; }
                .depth-2{ @apply h-full ; }
            }
        }  
    }
}

@keyframes headReveal {
    0%{ top:-200px ;}
    100% { top:0 ; }
}

//-----------------------------------
// aside menu

aside {
    @apply absolute w-full h-screen top-0 -right-[100%] bg-[rgba(0,0,0,0.7)] z-[1100] lg:hidden 
    backdrop-blur-lg transition-[right] ;
    &.active { @apply right-0 ; }
    .mo-menu-wrap{
        @apply w-full mt-[70px] px-6 pt-4 text-white ;
        ul {
            li{
                .mo-depth1-wrap {
                    @apply flex w-full justify-between items-center h-[64px] border-t border-[rgba(255,255,255,0.2)] ;
                    h3 { @apply text-[18px] font-bold ;}
                    .icon-arrow {
                        @apply w-6 h-6 ;
                    } 
                }
                &.active {
                    @apply border-yellow-400 ;
                    h3 { @apply text-yellow-400 ; }
                    .icon-arrow {
                        @apply rotate-180 ;
                        path { @apply stroke-yellow-400 ; }
                    } 
                }
            }
        }
        .mo-depth2-wrap{
            @apply pb-6 px-4 hidden;
            &.open { @apply block ; }
            a { @apply block py-2; }
        }
    }
    .btn-contact-wrap {
        @apply w-full h-10 px-6 mt-8;
        .btn-contact-mo {
            @apply w-full h-14 border border-[rgba(255,255,255,0.5)] rounded-[100px] 
            flex justify-center items-center text-white ;
        }
    }
}

//-----------------------------------
// Footer

.footer {
    @apply w-full bg-white mb-14 pt-10 flex justify-center border-t border-slate-300 ;
}

//-------------------------------
// Util Class

.spacer { @apply block w-0 h-0 clear-both ; }
.spacer-mt-xxl{ @apply mt-48 ; }
.spacer-mt-footer{ @apply lg:mt-32 xl:mt-48 ; }

//-------------------------------
// Detph Common

.line-900 {
    @apply block w-full h-[1px] bg-slate-900 ;
}
.container {
    @apply 2xl:w-[1478px] ;
    &.first{ @apply mt-32 ; }    
}
.content-title-level-1 {
    @apply text-xl xl:text-[40px] font-bold -tracking-[0.05em] my-10;
}
.title-level-1{
    @apply text-2xl xl:text-4xl font-extrabold mt-32 mb-10 tracking-tight ;
    &.center { @apply text-center ; }
}
.content-wrap-8{ @apply lg:offset-2 col-12 lg:col-8 ; }
.content-wrap-10{ @apply lg:offset-1 col-12 lg:col-10 ; }
.title-copy-1{
    @apply lg:text-3xl lg:leading-[1.5em] tracking-tight;
    &.bold { @apply font-bold ; }
    &.gray { @apply text-slate-500 ; }
}
.title-level-2{
    @apply relative text-2xl xl:text-3xl font-extrabold mt-32 mb-10 pl-4 tracking-tight ;
    &::before {
        @apply content-[''] block absolute w-[5px] h-[26px] bg-red-700 left-0 top-2 ;
    }
}

//-------------------------------
// Depth Head Area

.page-hero-wrap{
    @apply relative w-full h-screen  overflow-hidden ;
    .title-kor{
        @apply absolute w-full text-white font-extrabold 
        pl-[60px] lg:pl-[120px] text-4xl lg:text-6xl -bottom-[10vh] -tracking-[0.05em] ;
        text-shadow: 0 0 32px rgba(0,0,0,0.2);
    }
    &.no-image {
        @apply h-[260px] lg:h-[430px] ;
        .page-head-wrap{
            @apply h-full ;
            .page-title-wrap{
                @apply bottom-4 ; 
                h1{
                    @apply text-[14vw] lg:text-[10vmin] ;
                }  
            }
        }
    }
}

.page-head-wrap{
    @apply relative w-full h-[50vh] lg:h-[60vh] pt-[26vh] lg:pt-[16vh] bg-white z-20;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    .page-title-wrap{
        @apply absolute bottom-32 font-['Poppins'] w-full pl-[60px] lg:pl-[120px] text-slate-900; 
        h5{
            @apply w-full text-base lg:text-2xl uppercase mt-[8vw] font-semibold ;
        }
        h1{
            @apply w-full font-bold leading-[0.9em] text-[14vw] lg:text-[13vmin] tracking-tight break-normal;
        }
        .line { @apply block absolute w-[80px] lg:w-[140px] h-[4px] bg-slate-900 bottom-2 -left-[30px];}    
    }
    &.back{
        @apply absolute bg-transparent z-10;
        .page-title-wrap{
            h5 { @apply text-white; }
            h1 { @apply text-white; }
            .line { @apply bg-white ;}
        }
    }
    &.hide {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0);
    }
    
}
.page-hero-img-wrap{
    @apply absolute w-full h-screen overflow-hidden;
    .bg-img { 
        @apply block w-full h-full bg-cover bg-no-repeat bg-center bg-fixed;
        &#bg-sites { @apply bg-[url(../img/bg_img/factory_getty.jpg)] ;}
        &#bg-contact { @apply bg-[url(../img/bg_img/contact.jpg)] ;}
        &#bg-related { @apply bg-[url(../img/bg_img/related_company.jpg)] ;}
        &#bg-products-flow { @apply bg-[url(../img/bg_img/products_flow.jpg)] ;}
        &#bg-products-esg { @apply bg-[url(../img/bg_img/products_esg.jpg)] ;}
        &#bg-products-basic { @apply bg-[url(../img/bg_img/products_basic.jpg)] ;}
    }
    &::after {
        @apply absolute content-[''] block w-full h-screen top-0 left-0 bg-[rgba(0,0,0,0.2)];
    }
    
}


//--------------------------
// 관계사

.page-intro-copy-wrap{
    @apply pb-40;
    h4 {
        @apply text-4xl font-bold leading-[1.5em] tracking-tight;
    }
}
.related-video-wrap{
    @apply absolute w-[70%] min-h-[90vh] left-0 ;
    video {
        @apply w-full h-full ;
    }
}

.related-con-wrap{
    @apply mt-[400px] h-[880px] bg-white flex flex-col ;
    .logo-wrap { @apply w-full h-[300px] lg:h-[430px] flex justify-center items-center ; }
    .desc-text {
        @apply w-full text-2xl text-slate-600 tracking-tight leading-[1.7em] ;
    }
    .btn-big-related {
        @apply w-[340px] h-[80px] flex justify-center items-center border border-slate-900 my-12
        tracking-tight text-base font-bold transition-all ;
        span { @apply pr-4 ; }
        &:hover {
            @apply bg-red-700 border-transparent ;
            span { @apply text-white ;}
            .icon-arrow-long-next {
                path { stroke:white ;}
            }
        }
    }
}

//--------------------------
// business sites

.map-wrap {
    @apply w-full overflow-hidden lg:h-[720px] ;
    &.world-map {
        @apply relative flex  bg-white border-t border-slate-900;
        .map-box{
            @apply relative w-full xl:w-[1080px] h-full flex items-center ;
            .map-inner {
                @apply relative mx-auto xl:w-[980px] ;
            }
            .map-img { @apply w-full ; }
            .map-marker { 
                @apply absolute block w-[24px] h-[30px] 
                bg-no-repeat bg-[url(../img/map_marker_red.svg)];
                &#world-marker-1 { @apply top-[34%] right-[20%] ; }
                &#world-marker-2 { @apply top-[41%] right-[24%] ; }
                &#world-marker-3 { @apply top-[30%] left-[36%] ; }
                &#world-marker-4 { @apply top-[49%] left-[25.5%] ; }
                &#world-marker-5 { @apply top-[20%] left-[18%] ; }
                &#world-marker-6 { @apply top-[29%] left-[11%] ; }
            }
        }
        .select-box {
            @apply w-full xl:w-[350px] flex flex-col py-14;
            .item {
                @apply w-full px-8 py-8 min-h-[100px] flex flex-col shrink grow;
                .world-map-title {
                    @apply text-2xl font-bold font-['Poppins'] mb-1;
                }
                .world-map-subtitle {
                    @apply text-slate-500 tracking-tight ;
                }
            }
        }
    }
}

//--------------------------
// Media center - News

.search-box-wrap{
    @apply hidden lg:block mb-10 float-right;
    input { @apply ml-5 min-w-[260px] ;}
    .btn-search {
        @apply absolute w-8 h-8 right-4 top-1;
        &:hover {
            .icon-search {
                path { stroke: #B91C1C; }
            }
        }
    }
}

.news-special-wrap{
    @apply h-auto lg:h-[550px] flex flex-col lg:flex-row lg:flex-nowrap mt-10 ;
    figure { @apply object-cover object-center overflow-hidden ; }
    .info-wrap {
        @apply h-full pl-0 lg:pl-10 xl:pl-16 ;
        .inner {
            @apply block w-full h-full lg:border-t border-slate-900 ;
            h2 { 
                @apply text-xl lg:text-3xl xl:text-5xl font-bold pt-4 lg:pt-8 
                lg:leading-[1.3em] xl:leading-[1.3em] tracking-tight break-normal; 
            }
            p{ @apply  text-base lg:text-xl text-slate-600 mt-6 lg:mt-8 ; }
            .date { @apply block font-['Poppins'] text-sm lg:text-base text-slate-400 mt-4 lg:mt-8; }
            a{
                &:hover { 

                }
            }
        }
    }
}
.card-list-wrap {
    @apply relative mt-20;
}
.card-news {
    @apply relative mb-8 lg:min-h-[320px] ;
    .inner-wrap {
        @apply block w-full h-full border border-t-slate-900 px-6 lg:px-9 pt-6 lg:pt-8 
         pb-14 transition-shadow ;
        &:hover {
            @apply shadow-[4px_4px_24px_rgba(0,0,0,0.15)] ;
        }
    }
    .news-title { 
        @apply block text-xl lg:text-xl xl:text-[28px] 
        font-bold tracking-tight lg:leading-[1.2em] mb-3 lg:mb-6 ;
    }
    .news-summary {
        @apply block font-normal text-sm lg:text-base text-slate-600 ;
    }
    .news-date { @apply block absolute text-xs lg:text-sm font-['Poppins'] text-slate-600 bottom-7;}
    &.doc{
        @apply min-h-[220px] lg:min-h-[260px] ;
        .doc-date { @apply block relative text-sm font-['Poppins'] text-slate-600 ;}
        .inner-wrap{
            &:hover { @apply shadow-none ; }
        }   
    }
    .btn-row {
        @apply flex absolute w-full bottom-10 px-6 lg:px-9;
    }   
}
.btn-incard {
    @apply px-5 py-2 h-10 lg:h-14 border border-slate-900 flex items-center mr-3 tracking-tight;
    img{ @apply w-6 h-6 lg:w-8 lg:h-8 ; }
    span { @apply font-bold pl-1 lg:pl-2; }
    &:hover { @apply bg-slate-100 ; }
}
.btn-list-more {
    @apply border border-slate-600 w-[160px] h-[48px] lg:w-[220px] lg:h-[64px] rounded-[50px] 
    flex justify-center items-center transition-all mt-4 lg:mt-10;
    .inner {
        @apply flex justify-center items-center font-bold text-sm lg:text-base ;
        svg { @apply mr-2 ;}
    }
    &:hover {
        @apply bg-red-600 text-white border-transparent ;
        svg {
            path{
                stroke: white ;
            }
        }
    }
}
//----------------------------
// forms Common

input {
    @apply border-b border-slate-900 min-h-[44px] ;
    &::placeholder {
        @apply font-normal pb-4 ;
    }
}
select {
    @apply border-b border-slate-900 min-h-[44px] min-w-[80px] ;
}

//----------------------------
// Products-General

.product-search-wrap{
    @apply w-full mb-10;
    .search-btn-bar {
        @apply w-full h-20 font-bold border-t border-b border-slate-400 text-2xl 
        flex items-center justify-between px-5 tracking-tight transition-all ;
        .btn-updown { 
            @apply relative w-8 h-8 flex items-center justify-center ;
            span {
                @apply block w-[18px] h-[2px] bg-slate-900 ;
                &.line-2 { @apply absolute rotate-90 ; }
            }
        }
        &:hover{
            @apply border-slate-800 ;
            .btn-updown {
                 
                span {
                    @apply block w-[18px] h-[2px] bg-red-700 ;
                }
            }
        }
    }
    .search-body{
        @apply w-full overflow-hidden flex justify-center items-center h-0 border-b transition-all;
        &.active {
            @apply h-full;
        }
    }
}
.product-category-wrap{
    @apply relative w-full lg:h-[220px] flex mt-20 ;
    .category-item {
        @apply relative lg:w-[340px] h-full overflow-hidden font-bold 
        border-r grow-0 pt-4 pl-8 tracking-tight transition-all ;
        .item-title { @apply relative text-xl text-slate-900 ; }
        .item-thumb { 
            @apply absolute right-[-10%] top-0 w-[260px] origin-bottom-right
            saturate-0 ; 
        }
        &:first-child{
            @apply border-l ;
        }
        &.active {
            @apply grow ;
            .item-title { @apply text-2xl text-red-700 ;}
            .item-thumb { @apply right-0 saturate-100 ; }
            &::before {
                @apply content-[''] block absolute w-full h-[3px] bg-red-700 bottom-0 left-0 ;
            }
        }
    }
}
.application-wrap{
    @apply col-12 lg:col-10 lg:offset-1 text-white mt-20 ;
    .card__application {
        @apply relative col-6 ;
        .product-caption {
            @apply absolute left-8 bottom-5;
            &::before {
                @apply content-[''] block absolute w-full h-[100px] left-0 bottom-0;
            }
        }
    }
}
.product-list-wrap{
    @apply col-12 lg:col-10 lg:offset-1 ;
}
.list__product-info {
    @apply w-full border-t border-slate-400 p-4 pt-4 flex flex-wrap ;
    .cell{
        @apply w-1/2 flex flex-col font-bold p-4 leading-[1.3em];
        .title { @apply text-sm text-slate-500 mb-2 ; }
        .name {@apply text-lg ;}
    }
    &.table-column-3{ .cell{ @apply lg:w-1/3 ; } }
    &.table-column-4{ .cell{ @apply lg:w-1/4 ; } }
    &.table-column-5{ .cell{ @apply lg:w-1/5 ; } }
    &.table-column-6{ .cell{ @apply lg:w-1/6 ; } }
}





