.logo-a-wrap {
    @apply absolute w-[190px] h-[235px] left-[calc(50%-800px)] top-10 z-50;
  }
  .deco-cow-wrap {
    @apply absolute w-[400px] h-[290px] right-[calc(50%-700px)] top-8 z-50;
    .cloud-1 { 
      @apply absolute right-2 top-2 animate-[cloudMove_3s_ease-in-out_infinite]; 
    }
    .cloud-2 { @apply absolute left-2 top-16; }
    .cow { @apply absolute left-24 top-16 w-[182px] animate-[cloudMove_4s_ease-in-out_infinite]; }
  }
  @keyframes cloudMove {
    0% { transform: translateY(0px) ;}
    50% { transform: translateY(-30px) ;}
    100% { transform: translateY(0px) ;}
  }
  .burger { @apply block absolute w-[30px] right-[calc(50%-700px)] top-8 z-50; }
  .section { @apply w-full relative ; }
  .hero-spacer { @apply w-full block relative h-[180px] ; }
  .hero-swiper-group{
    @apply relative w-[1064px] h-[670px] mx-auto;
    .hero-swiper-pict-wrap{
      @apply absolute w-[820px] h-full overflow-hidden;
      .swiper-slide {
        @apply relative w-full h-[554px];
        .cover {
          @apply w-full h-full  bg-cover;
        }
      }
    }
  }
  #hero-slide-01-pict { .cover{ background-image:url(../img/slide_1_pict.png);} }
  #hero-slide-02-pict { .cover{ background-image:url(../img/slide_2_pict.png);} }
  #hero-slide-03-pict { .cover{ background-image:url(../img/slide_3_pict.png);} }
  
  .hero-swiper-title-wrap{
    @apply absolute w-[480px] h-[440px] right-0 bottom-10 z-10
    backdrop-blur-[40px] rounded-[50px] border border-[rgba(255,255,255,0.7)] 
    drop-shadow-2xl bg-[rgba(255,255,255,0.55)] ;
    .swiper-slide {
      @apply w-full h-[440px] rounded-[50px] opacity-0;
      &.swiper-slide-active {
        @apply opacity-100;
      }
      &.show {
        @apply opacity-100;
      }
      &.hide {
        @apply opacity-0;
      }
    }
  }
  
  .hero-swiper{
    &.swiper-btn {
      border-radius: 100px; width: 54px; height: 54px;
      box-sizing: border-box; position: absolute;
      top: auto; z-index:30; border: 1px solid #CBD5E1; display: flex;
      justify-content: center; align-items:center;
      &:after { color: #ffffff; font-size: 18px; }
      img { width: 12px;}
      
      &.swiper-button-next {
        bottom: 50px; left:64px;
        //background: rgba(255, 255, 255, 0.1) url("../../public/img/btn_swiper_next.svg") no-repeat center center;
        //background-size:20px 20px;
        z-index: 10; 
        img{
          margin-left:12px;
        }
      }
      &.swiper-button-prev {
        bottom: 50px; left:0px;
        //background: rgba(255, 255, 255, 0.1) url("../../public/img/btn_swiper_prev.svg") no-repeat center center;
        z-index: 10; 
      }  
    }
  }
  //-----------------
  @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  .text-strip-wrap{
    color:white; width:120vw; left:0 !important; overflow:hidden; 
    transform: translateX(-10vw);
    .cover { width: 120vw; display: flex; }
  
  .cover:nth-child(1) {
    margin-top: 10vh; 
    background-color: #ff3796;
  }
  
  .cover:nth-child(2) {  
    background-color: #11D8F3;
    justify-content: flex-end;
  }
  
  .cover:nth-child(3) {
    background-color: #5800ff;
  }
  
  p { display: flex; padding: 0.75rem 0; font-size: clamp(2vw, 8vw, 5rem); }
  }
  
  //-----------------
  .a-con-1{
    @apply relative w-[1304px] mx-auto mt-40 ;
  }
  .a-con-2{
    @apply relative w-[1304px] mx-auto ;
  }